@import '~bootstrap/scss/bootstrap';
@import 'partials/variables';

// GLOBAL CLASSES
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row * {
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// HEADER
header {
    .header-top-bar {
        background-color: $tertiaryColor;

        ul {
            display: flex;
            justify-content: flex-end;

            li {
                padding: 0px 20px;
                font-size: 12px;
                font-weight: bold;
                color: $primaryColor;
            }
        }
    }

    .header-bottom-bar {
        ul {
            li {
                margin: 0 15px;
                display: flex;
                align-items: center;
                border-bottom: 5px solid transparent;
                cursor: pointer;

                a {
                    color: $secondaryColor;
                    font-weight: bold;
                    font-size: 15px;
                }

                i {
                    margin: 0 10px;
                    color: $tertiaryColor;
                }
            }
        }

        ul li.active {
            border-bottom-color: $tertiaryColor;

            a {
                color: $tertiaryColor;
            }
        }

        .search-bar {
            width: 150px;
            text-align: right;
            color: $secondaryColor;
            border: none;
            border-bottom: 2px solid $tertiaryColor;
        }
    }
}

// MAIN
main {
    .jumbotron-container {
        height: 45vh;
        background-image: url(../img/jumbotron.jpg);
        background-size: cover;
        position: relative;

        h1 {
            font-size: 25px;
            padding: 15px 30px;
            background-color: $tertiaryColor;
            position: absolute;
            bottom: -30px;
        }
    }

    // INDEX PAGE
    .index-page {
        background-color: #1C1C1C;
        color: $primaryColor;

        .content-card-container {
            padding: 50px 0;

            .card-col {
                width: calc(100% / 6 - 24px);
                margin: 12px;

                .card-image {
                    height: 200px;
                    background-size: cover;
                    cursor: pointer;

                    &:hover {
                        border: 4px solid $tertiaryColor;
                    }
                }

                .card-text {
                    padding: 20px 0;
                    cursor: pointer;

                    h3 {
                        font-size: 15px;
                        color: $primaryColor;

                        &:hover {
                            text-shadow: 0 0 10px $tertiaryColor;
                        }
                    }
                }
            }

            .load-col {
                margin-top: 50px;

                a {
                    color: $primaryColor;
                    background-color: $tertiaryColor;
                    padding: 12px 65px;
                }
            }

        }

        .banner-container {
            background-color: $tertiaryColor;

            .container {
                padding: 40px 0;

                .row {
                    align-items: center;

                    .banner-col {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: calc(100% / 5 - 40px);
                        margin: 0 20px;
                        height: 100%;

                        img {
                            width: 20%;

                            &:hover {
                                filter: invert(100%);
                            }
                        }

                        a {
                            color: $primaryColor;
                            margin-left: 20px;
                            font-size: 15px;

                            &:hover {
                                color: black;
                            }
                        }

                        img,
                        span {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    // SHOW PAGE
    .show-page {
        color: $secondaryColor;
    }
}

// FOOTER
footer {
    .menu-container {
        padding: 10px 20px;
        background-image: url(../img/footer-bg.jpg);
        background-size: cover;
        overflow-y: hidden;

        .row {
            padding: 10px;

            h3 {
                margin: 15px 0px;
                color: $primaryColor;
            }

            li {
                padding: 5px 0px;

                a {
                    color: #959595;

                    &:hover {
                        color: $primaryColor;
                    }
                }
            }

            p {
                color: #959595;
                font-size: 15px;
            }

            .background-logo-col {
                display: flex;
                justify-content: center;
            }
        }
    }

    .bottom-bar-container {
        background-color: #303030;
        padding: 25px;

        .row {
            align-items: center;

            .bottom-bar-col {
                display: flex;
                align-items: center;
                width: calc(100% / 2);
                height: 100%;

                .btn-sign-up {
                    padding: 15px 10px;
                    font-weight: 700;
                    color: $primaryColor;
                    border: 2px solid $tertiaryColor;

                    &:hover {
                        background-color: #fff;
                        color: black;
                    }
                }

            }

            .bottom-bar-col:last-child {
                justify-content: flex-end;

                h4 {
                    margin: 0 20px;
                    font-size: 17px;
                    color: $tertiaryColor;
                }

                a {
                    padding: 0px 10px;

                    &:hover img {
                        filter: brightness(1000%);
                    }
                }
            }
        }
    }
}