@import '~bootstrap/scss/bootstrap';
@import 'partials/variables';

// GLOBAL CLASSES
.primary-color {
    color: $primaryColor;
}

.secondary-color {
    color: $secondaryColor;
}

// HEADER
.header-top-bar {
    background-color: $secondaryColor;

    ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
            padding: 0px 20px;
            font-size: 12px;
            font-weight: bold;
        }
    }
}